<!-- src/app/app.component.html -->
<div style="text-align:center">
  <h1>
    Aplicación de Películas con Django y Angular
  </h1>
</div>

<h2>Lista de Películas desde la API:</h2>

<ul>
  <li *ngFor="let movie of movies">
    <h3>{{ movie.id }}: {{ movie.title }}</h3>
    <p><strong>Descripción:</strong> {{ movie.desc }}</p>
    <p><strong>Año:</strong> {{ movie.year }}</p>
  </li>
</ul>

<!-- Mensaje si no hay películas -->
<div *ngIf="movies.length === 0">
  <p>Cargando películas o no hay datos disponibles...</p>
</div>